*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body{
    padding: 10em;
}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    
    .container{

        ul{
            list-style-type: none;
        }
        
        .create-todo{
            form{
                
                input{
                    margin: 10px;
                    outline: 0;
                    border: 1px solid #21d0e7;
                    color: #181a1a;
                    border-radius: 5px;
                    font-size: 1.1em;
                    padding: 2px;
                    &:focus{
                        box-shadow: 1px 0px 5px #6ca2f1;
                        border-color: #21d0e7;
                    }
                }

                label{
                    font-size: 1.2em;
                }

                button{
                    padding: 6px 18px;
                    background-color: #6ca2f1;
                    box-shadow: 0px 0px 3px #6ca2f1;
                    border-radius: 5px;
                    color:azure;
                    cursor: pointer;
                }

            }
        }
        .todos{
            padding: 5%;
            ul{
                list-style-type: none;
                div{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
                    li{
                        padding: 5px;
                        font-size: 1.2em;
                    }
    
                    form{
                        input{
                            outline: 0;
                            border: 1px solid #21d0e7;
                            color: #181a1a;
                            border-radius: 5px;
                            font-size: 1.1em;
                            padding: 2px;
                            margin-bottom: 10px;
                            
                            &:focus{
                                box-shadow: 1px 0px 5px #6ca2f1;
                                border-color: #21d0e7;
                            }
                        }
                        button{
                            margin-left: 57%;
                            padding: 3px 14px;
                            background-color: #d4d4d4;
                            box-shadow: 0px 0px 3px #d4d4d4;
                            border-radius: 5px;
                            color: #fffdfd;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}